/*
 *  Special addtions for this site
*/

.meetup-and {
        font-style: italic !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 2rem !important;
    margin-right: 0.25rem !important;
}
.meetup-and:before {
    content: "\A";
    white-space: pre;
}
